*{
    padding: 0px;
    margin: 0px;
}
html{
    scroll-behavior: smooth;
}
:root{
    --YELLOW:#fc8c03;
}
span{
    color: var(--YELLOW);
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    perspective: 100px;
}

.bounce{
    width: 10px;
    height:10px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    margin-left: 5px;
}

@keyframes bounce {
    from { transform: translate3d(0, 0, 0);}
    to { transform: translate3d(0, -12px, 0);}
}

li:hover{
    color: var(--YELLOW);
}
li:hover + .bounce,#name h2:hover +.bounce,#submitbtn:hover +.bounce{
    animation: bounce 0.2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
nav{
    height: 70px;
    width: 100%;
    
}

nav ul{
    display: flex;
    justify-content: start;
    line-height: 70px;
    margin-right: 20px;
}
nav ul a,#projects a,#name a{
    list-style: none;
    text-decoration: none;
    color: black;
}
nav ul a,#home a{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-left: 20px;
    cursor: pointer;
    padding: 10px;
}

#home{
    display: flex;
    width: 100%;
    height: 100vh;
}

#home h1{
    font-size: 350%;
    margin-top: 25vh;
    margin-left: 50px;
}
#about{
    margin: 50px 0px 30px 50px;
    font-size: 120%;
}

#home a{
    display: flex;
    padding: 10px 30px 10px 30px;
    margin-left: 50px;
    color: var(--YELLOW);
    background-color: black;
    border-radius: 20px;
}

#name{
    width: 50%;
}

#mypic{
    width: 50%;
    height: 90%;
    background-color: black;
    border-radius: 58% 42% 44% 55% / 55% 31% 69% 44%  ;
    display: flex;
    justify-content: center;
    align-items: center;
}
#container{
    width: 42%;
    height: 92%;
}
#mypic img{
    width: 100%;
    height: 100%;
    border-radius: 100px;
}

.flex{
    display: flex;
    justify-content: start;
}
.grid{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    padding: 20px;
}
#projects{
    width:100%;
}

#projects h2{
    font-size: 42px;
    text-align: center;
    margin-top: 20px;
}

.card{
    padding: 30px;
    width: 450px;
    height: 550px;
    text-align: center;
    border-radius: 30px;
    margin: 30px;
    box-shadow: 0px 20px 20px rgba(0, 0, 0,0.2),0px 0px 50px rgba(0,0,0,0.2);
    cursor: pointer;
}
.card h1,.card p{
    text-align: start;
    font-size: 110%;
    margin-top: 5px;
}
.card:hover{
    animation: scale 0.5s;

}
.title_proj{
    color: var(--YELLOW);
}
#img_container{
    width: 100%;
    height: 50%;
    object-fit: cover;
}

#projects img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
@keyframes scale{
    50%{
        transform:scale(1.1) ;
    }
}

#skills{
    width: 100%;
   
}

#skills h1{
    text-align: center;
    padding: 50px;
}
#skills h2{
    color: var(--YELLOW);
}
.skills_card{
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 20px;
    width: 300px;
    height: 250px;
    margin: 30px;
    border-radius: 30px;
    box-shadow: 0px 20px 20px rgba(0, 0, 0,0.2),0px 0px 50px rgba(0,0,0,0.2);
}
.skills_card i{
    color: var(--YELLOW);
}


#contactme{
    height: 100vh;
    display: flex;
    justify-content: center;

}
#contactme form{
    text-align: center;
}

#contactme form h1,#about h1,#skills h1,#projects h2{
    font-size: 82px;
    margin-top: 10px;
    font-weight: 500;
}

#contactme form p{
    font-size: 72px;
}
#contactme form input,#contactme form textarea{
    margin-top: 10px;
    width: 80%;
    padding: 15px;
    font-size: 105%;
    border: 1px solid black;
    border-radius: 10px;
}
#contactme form textarea{
    resize: none;
}
#submitbtn{
    font-size: 120%;
    font-weight: 800;
    background-color:black;
    border: none;
    cursor: pointer;
    color:var(--YELLOW);
}

#btn{
    display: inline-block;
    background-color: black;
    padding: 10px 30px 10px 30px;
    margin-top: 20px;
    border-radius: 10px;
}

footer{
    width: 100%;
    height: 40vh;
    text-align: center;
}

#content{
    background-color: black;
    padding: 50px;
}

footer a{
    font-size: 18px;
    color: var(--YELLOW);
    text-decoration: none;
    padding: 15px;
}
footer ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
footer ul li{
    padding: 10px;
}
i{
    color: white;
    font-size: 70px;
}
svg{
    transform: translateY(5%);
}
i:hover,footer h2{
    color: var(--YELLOW);
}