{%extends "layout.html"%}
{%block nav%}
    <section id="home">
        <div id="name">
            <h1>I'm <span id="typed"></span></h1>
            <div class="flex"><a href="#contactme"><h2>Contact Me</h2><span class="bounce" style="background-color: white;"></span></a></div>
        </div>
        <div id="mypic">
            
        </div>
    </section>

    <!-- skills section -->
    <hr>
    <section id="skills">
        <h1><span>My</span> Skills</h1>
        <div class="grid">
            {%for i in range(0,len_skills)%}
            <div class="skills_card">
                <i class="{{skills[i].icons}}"></i>
                <h2>{{skills[i].title}}</h2>
            </div>
            {%endfor%}
        </div>
    </section>
{%endblock%}

{%block footer%}
        </main>
        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
        <script src="/static/sheet.js"> </script>
    </body>
    
    </html>
{%endblock%}