{%extends "layout.html"%}
{%block nav%}
    <section id="home">
        <div id="name">
            <h1>I'm <span id="typed"></span></h1>
            <div class="flex"><a href="#contactme"><h2>Contact Me</h2><span class="bounce" style="background-color: white;"></span></a></div>
        </div>
        <div id="mypic">
            
        </div>
    </section>

    <!-- Projects section -->
    <hr>
    <section id="projects">
        <h2><span>My</span>Projects</h2>
        <div class="grid_pro">
            {%for i in range(0,len_pro)%}
            <a href="{{projects[i].link}}" target="_blank">
                <div class="card">
                    <div id="img_container">
                        <img src={{projects[i].img}} alt={{projects[i].alt}}>
                    </div>
                    <h1 class="title_proj">{{projects[i].title}}</h1>
                    <p class="discription">{{projects[i].discription}}</p>
                </div>
            </a>
            {%endfor%}
        </div>
    </section>

    <!-- skills section -->
    <hr>
    <section id="skills">
        <h1><span>My</span> Skills</h1>
        <div class="grid">
            {%for i in range(0,len_skills)%}
            <div class="skills_card">
                <i class="{{skills[i].icons}}"></i>
                <h2>{{skills[i].title}}</h2>
            </div>
            {%endfor%}
        </div>
    </section>
{%endblock%}

{%block footer%}
        </main>
        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
        <script src="/static/sheet.js"> </script>
    </body>
    
    </html>
{%endblock%}