<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>Amrinder Singh</title>
</head>
<body>
    <main>
        <nav>
            <ul>
                <a href="#home"><li >Home</li><span class="bounce"></span></a>
                <a href="#about"><li>About</li><span class="bounce"></span></a>
                <a href="#skills"><li>Skills</li><span class="bounce"></span></a>
                <a href=""><li>Blog</li><span class="bounce"></span></a>
            </ul>
        </nav>
{%block nav%} {%endblock%}